@model ConfirmReservationDTO

<div class="row">
    <div class="col-lg-8">
        <div class="content-group">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Reservation Details<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-default heading-divided"><i class="icon-calendar"></i> Dates Of Stay</h6>
                                <div class="list-group no-border">
                                    <a href="#" class="list-group-item">
                                        Check In: <span id="confirmCheckIn">-</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        Check Out: <span id="confirmCheckOut">-</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        Nights: <span id="confirmNights">-</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-default heading-divided"><i class="icon-coins"></i> Balance </h6>
                                <div class="list-group no-border">
                                    <a href="#" class="list-group-item">
                                        Amount: <span id="confirmAmount" class="label bg-teal">$</span>
                                    </a>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-default heading-divided"><i class="icon-pencil6"></i> Comments And Notes</h6>

                                <div class="form-group">

                                    <textarea id="comment" asp-for="Comment" style="min-height:150px" rows="3" cols="3" maxlength="200" class="form-control maxlength-textarea" placeholder="Comment">

                                </textarea>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="content-group">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Reservation Status<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                </div>
                <div class="panel-body">

                    @if (User.HasClaim("permission", "Reservation.ManageStatus"))
                    {
                        <div class="form-group">
                            <div class="checkbox">
                                <input asp-for="IsPending" id="isPending" type="checkbox" />
                                <label for="isPending">Pending</label>
                            </div>

                            <div class="checkbox">
                                <input asp-for="IsConfirmed" id="isConfirmed" type="checkbox" />
                                <label for="isConfirmed">Confirmed</label>
                            </div>

                            <div class="checkbox">
                                <input asp-for="IsCheckedIn" id="isCheckedIn" type="checkbox" />
                                <label for="isCheckedIn">Checked In</label>
                            </div>

                            <div class="checkbox">
                                <input asp-for="IsCheckedOut" id="isCheckedOut" type="checkbox" />
                                <label for="isCheckedOut">Checked Out</label>
                            </div>

                            <div class="checkbox">
                                <input asp-for="IsCancelled" id="isCancelled" type="checkbox" />
                                <label for="isCancelled">Cancelled</label>
                            </div>

                            <div class="checkbox">
                                <input asp-for="IsNoShow" id="isNoShow" type="checkbox" />
                                <label for="isNoShow">No Show</label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-muted text-center">
                            Status will be set automatically based on your permission.
                        </p>
                    }

                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="content-group">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Guests<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <span class="label label-success heading-text" id="guestCountLabel">0 guests</span>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="media-list" id="guestDisplayList">
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    $(document).ready(function () {
        const ids = {
            pending: "#isPending",
            confirmed: "#isConfirmed",
            checkedIn: "#isCheckedIn",
            checkedOut: "#isCheckedOut",
            cancelled: "#isCancelled",
            noShow: "#isNoShow"
        };
        const alwaysEnabled = [ids.pending, ids.confirmed, ids.cancelled, ids.noShow];
        const chain = [ids.confirmed, ids.checkedIn, ids.checkedOut];

        // Always enable base ones
        alwaysEnabled.forEach(sel => $(sel).prop("disabled", false));

        // === Initialize chain state ===
        chain.forEach((selector, index) => {
            // Enable if this or any previous one is checked
            if ($(selector).is(":checked") || (index > 0 && $(chain[index - 1]).is(":checked"))) {
                $(selector).prop("disabled", false);
            } else {
                // If no previous checked and not this one, disable it
                if (index > 0 && !$(chain[index - 1]).is(":checked")) {
                    $(selector).prop("disabled", true).prop("checked", false);
                }
            }
        });

        // === Chain logic for user interaction ===
        chain.forEach((selector, index) => {
            $(selector).change(function () {
                if ($(this).is(":checked")) {
                    // Enable next in chain
                    if (chain[index + 1]) $(chain[index + 1]).prop("disabled", false);
                } else {
                    // Disable all following in chain
                    for (let i = index + 1; i < chain.length; i++) {
                        $(chain[i]).prop("checked", false).prop("disabled", true);
                    }
                }
            });
        });

        // === Cancellation reason logic ===
        $(ids.cancelled).change(function () {
            if ($(this).is(":checked")) {
                $("#cancelReasonGroup").slideDown();
            } else {
                $("#cancelReasonGroup").slideUp();
                $("#CancellationReason").val('');
            }
        });

        // If already cancelled
        if ($(ids.cancelled).is(":checked")) {
            $("#cancelReasonGroup").show();
        }
    });
</script>


