@model AddUserDTO
@{

}


<form class="form-basic ajaxForm" asp-action="AddNewUser" asp-controller="User" method="post">
	@* <div asp-validation-summary="All" class="text-danger"></div> *@
	<div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
				<fieldset>

					<div class="row">
							<div class="col-md-6">
								<label>First Name<span class="text-danger">*</span></label>
								<div class="form-group">
									<div class="input-group input-group">
									<span class="input-group-addon"><i class="icon-user"></i></span>
									<input asp-for="FirstName" class="form-control" placeholder="First Name" required>
									</div>
								<span asp-validation-for="FirstName" class="text-danger validation-error-label"></span>
							</div>
							</div>
							<div class="col-md-6">
							<label>Last Name<span class="text-danger">*</span></label>
								<div class="form-group">
									<div class="input-group ">
									<span class="input-group-addon"><i class="icon-user"></i></span>
									<input asp-for="LastName" class="form-control" placeholder="Last Name" required>
									</div>
								<span class="text-danger validation-error-label" asp-validation-for="LastName"></span>
								</div>
							</div>

						</div>

					<div class="row">
							<div class="col-md-6">
							<label>User Name<span class="text-danger">*</span></label>
								<div class="form-group">
									<div class="input-group input-group">
									<span class="input-group-addon"><i class="icon-user"></i></span>
									<input asp-for="userName" class="form-control" placeholder="User Name" required>
									</div>
								<span class="text-danger validation-error-label" asp-validation-for="userName"></span>
								</div>
							</div>
							<div class="col-md-6">
							<label>E-mail Address<span class="text-danger">*</span></label>
								<div class="form-group">
									<div class="input-group input-group">
									<span class="input-group-addon"><i class="icon-envelop5"></i></span>
									<input asp-for="email" class="form-control" placeholder="Email-Address" required>
									</div>
								<span class="text-danger validation-error-label" asp-validation-for="email"></span>
								</div>
							</div>

						</div>

					<div class="row">
							<div class="col-md-6">
							<label>Password<span class="text-danger">*</span></label>
								<div class="form-group">
									<div class="input-group input-group">
									<span class="input-group-addon"><i class="icon-lock"></i></span>
									<input asp-for="password" class="form-control" placeholder="Password" required>
									</div>
								<span class="text-danger validation-error-label" asp-validation-for="password"></span>
								</div>
							</div>
							<div class="col-md-6">
							<label>Confirm Password<span class="text-danger">*</span></label>
								<div class="form-group">
									<div class="input-group input-group">
									<span class="input-group-addon"><i class="icon-lock"></i></span>
									<input asp-for="confirmPassword" placeholder="Confirm Password" class="form-control" required>
									</div>
								<span class="text-danger validation-error-label" asp-validation-for="confirmPassword"></span>
								</div>
							</div>

						</div>
            
					<div class="row">
							<div class="col-md-6">
							<label>Choose Branch<span class="text-danger">*</span></label>
								<div class="form-group">
									<div class="input-group input-group">
									<span class="input-group-addon"><i class="icon-menu9"></i></span>
									<select class="form-control" id="mySelectBranch" asp-for="DefaultBranchId" required>
										<option value="">Select Branch</option>
									</select>
									</div>
									<span class="text-danger validation-error-label" asp-validation-for="DefaultBranchId"></span>
								</div>
							</div>
							<div class="col-md-6">
							<label>Choose Role<span class="text-danger">*</span></label>
								<div class="form-group">
									<div class="input-group input-group">
									<span class="input-group-addon"><i class="icon-menu9"></i></span>
										<select class="form-control" id="mySelectRole" asp-for="RoleId"  placeholder="Select Role" required>
											<option></option>
										</select>
									</div>					
								<span class="text-danger validation-error-label" asp-validation-for="RoleId"></span>

								</div>
							</div>
						</div>

					<div class="row">
							<div class="col-md-6">
								<div class="panel panel-flat">
									<div class="panel-heading">
										<h6 class="panel-title">User Setup<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
									</div>
									<div class="panel-body">
										<div class="alpaca-control checkbox">
											<label class="checkbox-inline checkbox-left checkbox-switchery switchery-sm">
												<input type="checkbox" asp-for="IsActive" class="switchery">
												Is Active
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					
				</fieldset>
			</div>
		</div>
    </div>
	
	<div class="text-center">
		<button class="btn btn-link" data-dismiss="modal"> Cancel</button>
		<button type="submit" class="btn bg-teal-400 btn-lg"><i class="icon-plus2"></i> Add</button>
    </div>
</form>

<script>
	var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
	elems.forEach(function (html) {
		new Switchery(html, { color: '#4CAF50', size: 'small' });
	});

</script>
<script>
	$(document).ready(function () {
		$.ajax({
			url: '/Role/GetRolesJson',
			type: 'GET',
			dataType: 'json',
			success: function (response) {
				var select = $('#mySelectRole');
				select.empty();
				select.append('<option value="">Select Role</option>');

				$.each(response, function (index, item) {
					select.append('<option value="' + item.id + '">' + item.name + '</option>');
				});
			},
			error: function () {
				console.error('Failed to load room types.');
			}
		});
	});

	$(document).ready(function () {
		$.ajax({
			url: '/Branch/GetBranchesJson',
			type: 'GET',
			dataType: 'json',
			success: function (response) {
				var select = $('#mySelectBranch');
				select.empty();
				select.append('<option value="">Select Branch</option>');

				$.each(response, function (index, item) {
					select.append('<option value="' + item.id + '">' + item.name + '</option>');
				});
			},
			error: function () {
				console.error('Failed to load branches.');
			}
		});
	});
	</script>

<script>
	$(document).ready(function () {
		$('#mySelectRole').select2({
			placeholder: "Choose Role"
		});
		$('#mySelectBranch').select2({
			placeholder: "Choose Branch"
		});
	});
</script>

@await Html.PartialAsync("_ValidationScriptsPartial")