@model SystemSettingDTO

@{
	TempData["Title"] = "Master System Setup";
}

<div class="page-header page-header-default">
	<div class="page-header-content">
		<div class="page-title">
			<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Master System Setup</span></h4>
		</div>

		<div class="heading-elements">
			<div class="heading-btn-group">
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
			</div>
		</div>
	</div>

	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<li><a asp-action="Index" asp-controller="Home"><i class="icon-home2 position-left"></i> Home</a></li>
			<li class="active">Master System Setup</li>
		</ul>

		<ul class="breadcrumb-elements">
			<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-gear position-left"></i>
					Settings
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
					<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
					<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>


<div class="content">
	<div class="row">
	<form asp-action="Edit" asp-controller="SystemSetting" method="post">
		<input type="hidden" asp-for="Id"/>
		<div class="panel panel-flat border-left-md border-left-teal">
			<div class="panel-heading">
				<div class="heading-elements">
					<ul class="icons-list">
						<li><a data-action="collapse" class=""></a></li>
					</ul>
				</div>
			</div>

			<div class="panel-body" style="display block;">
				<div class="row">
					<div class="col-md-12">
						<legend class="text-semibold"> Room Status Setup </legend>
					</div>
					<div class="col-md-12">
						<div class="col-md-4">
							<label>CheckIn Status<span class="text-danger">*</span></label>
								<select asp-for="CheckInStatusId" id="CheckInStatusSelect" data-selected="@Model?.CheckInStatusId" class="form-control select" required data-placeholder="Choose Check In Status">
								<option></option>
							</select>
							<span asp-validation-for="CheckInStatusId" class="text-danger validation-error-label"></span>
						</div>
						<div class="col-md-4">
							<label>Check Out Status<span class="text-danger">*</span></label>
								<select asp-for="CheckOutStatusId" id="CheckOutStatusSelect" data-selected="@Model?.CheckOutStatusId" class="form-control select" required data-placeholder="Choose Check Out Status">
								<option></option>
                            </select>
                            <span asp-validation-for="CheckOutStatusId" class="text-danger validation-error-label"></span>
                        </div>
					</div>

				</div>

				<br />
				<br />

				<div class="row">
					<div class="col-md-12">
						<legend class="text-semibold"> Guests Setup </legend>
					</div>
					<div class="col-md-12">
						<div class="col-md-4">
							<label class="checkbox-container">
								<input type="checkbox" class="checkbox-input" asp-for="IsGuestEmailRequired" />
								<div class="checkbox-custom"></div>
								<a class="text-default">Is Guest Email Required</a>
							</label>


						@* <div class="checkbox">
							<label class="checkbox-inline checkbox-left checkbox-switchery switchery-sm">
								<input type="checkbox" asp-for="IsGuestEmailRequired" class="switchery">
								Is Guest Email Required
							</label>
                            </div> *@
                        </div>
						<div class="col-md-4">
							<label class="checkbox-container">
								<input type="checkbox" class="checkbox-input" asp-for="IsGuestAddressRequired" />
								<div class="checkbox-custom"></div>
								<a class="text-default">Is Guest Address Required</a>
							</label>
						</div>
						<div class="col-md-4">
							<label class="checkbox-container">
								<input type="checkbox" class="checkbox-input" asp-for="IsGuestDateOfBirthRequired" />
								<div class="checkbox-custom"></div>
								<a class="text-default">Is Guest Birth Date Required</a>
							</label>
						</div>
						<div class="col-md-4">
							<label class="checkbox-container">
								<input type="checkbox" class="checkbox-input" asp-for="IsGuestPhoneRequired" />
								<div class="checkbox-custom"></div>
								<a class="text-default">Is Guest Phone Required</a>
							</label>
						</div>
						<div class="col-md-4">
							<label class="checkbox-container">
								<input type="checkbox" class="checkbox-input" asp-for="IsGuestProofNumberRequired" />
								<div class="checkbox-custom"></div>
								<a class="text-default">Is Guest Proof Number Required</a>
							</label>
						</div>
						<div class="col-md-4">
							<label class="checkbox-container">
								<input type="checkbox" class="checkbox-input" asp-for="IsGuestProofTypeRequired" />
								<div class="checkbox-custom"></div>
								<a class="text-default">Is Guest Proof Type Required</a>
							</label>
						</div>
					</div>

				</div>

				<br />
				<br />

				<div class="row">
                    <div class="col-md-12">
						<legend class="text-semibold"> Calculation Setup </legend>
                    </div>
					<div class="col-md-12">
						<div class="col-md-4">
							<label>Calculation Type<span class="text-danger">*</span></label>
                            <select asp-for="CalculationTypeId" id="calculationTypeSelect" data-selected="@Model?.CalculationTypeId" class="form-control select" data-placeholder="Choose Calculation Type">
								<option></option>
							</select>
							<span asp-validation-for="CalculationTypeId" class="text-danger validation-error-label"></span>
						</div>
				</div>
				</div>

			</div>
		</div>

		<div class="text-center">
			<a class="btn btn-default btn-lg" asp-action="Index" asp-controller="Home"> Cancel</a>
			<button class="btn bg-teal-400 btn-lg btn-ladda btn-ladda-spinner ladda-button" data-spinner-color="#fff" data-style="radius" type="submit"><i class="icon-checkmark4"></i> Save</button>
		</div>
	</form>
</div>
</div>


@section Scripts{
	@if (TempData["Error"] != null)
	{
		<script>
			Swal.fire({
				icon: 'error',
				position:'top',
				title: 'Error',
				text: '@TempData["Error"]'
			});
		</script>
	}

	<script>
		$(document).ready(function () {
			loadSelect("#calculationTypeSelect", "/CalculationType/GetCalculationTypesJson", "displayText", "id");
			loadSelect("#CheckInStatusSelect", "/RoomStatus/GetRoomStatusJson", "displayText", "id");
			loadSelect("#CheckOutStatusSelect", "/RoomStatus/GetRoomStatusJson", "displayText", "id");
		});
	</script>

}

