
/* Fade-in Animation */

/* site.css */
.swal2-popup.swal2-show {
    animation: fadeInFromTop 0.3s ease-out;
}

.swal2-popup.swal2-hide {
    animation: fadeOutToTop 0.3s ease-out;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutToTop {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}


.input-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-cancel-btn {
    margin-right: 8px; 
}



.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* hidden real input */
.checkbox-input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

/* custom square */
.checkbox-custom {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    border: 1.5px solid #00897B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

/* label text */
.checkbox-label {
    cursor: pointer;
}

/* checked state */
.checkbox-input:checked + .checkbox-custom {
    background-color: #00897B;
}

.checkbox-custom::after {
    content: "";
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    bottom: 4px;
    left: 6px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.checkbox-input:checked + .checkbox-custom::after {
    opacity: 1;
}






