@model EditRoomStatusDTO

<form class="form-basic ajaxEditForm" asp-action="EditRoomStatus" asp-controller="RoomStatus" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="panel panel-flat border-left-lg border-left-teal ">
        <div class="panel-body">
            <div class="content">
                <fieldset>

                    <div class="row">
                        <div class="col-md-12">
                            <label>Status Name<span class="text-danger">*</span></label>
                            <div class="form-group">
                                <input asp-for="Name" class="form-control" required placeholder="Branch Name">
                                <span asp-validation-for="Name" class="text-danger validation-error-label"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label>Description</label>
                            <div class="form-group">
                                <textarea asp-for="Description" class="form-control" placeholder="Room Status Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger validation-error-label"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="statusColor">Pick a color:</label>
                            <div class="form-group">
                                <input type="color" asp-for="Color" value="@Model.Color" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h6 class="panel-title">Setup</h6>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group ">

                                        <div class="checkbox">
                                            <label class="checkbox-inline checkbox-left checkbox-switchery switchery-sm">
                                                <input type="checkbox" asp-for="IsActive" class="switchery">
                                                Is Active
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label class="checkbox-inline checkbox-left checkbox-switchery switchery-sm">
                                                <input type="checkbox" asp-for="IsReservable" class="switchery">
                                                Is Reservable
                                            </label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button class="btn btn-link" data-dismiss="modal"> Cancel</button>
        <button type="submit" class="btn bg-teal-400 btn-lg"><i class="icon-checkmark4"></i> Save</button>
    </div>
</form>