@{
	TempData["Title"] = "Add Reservation";
	int BranchId = ViewBag.BranchId;

}

<div class="page-header page-header-default">
	<div class="page-header-content">
		<div class="page-title">
			<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Add Reservation</span> </h4>
		</div>

		<div class="heading-elements">
			<div class="heading-btn-group">
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
			</div>
		</div>
	</div>

	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
			<li><a asp-action="Index" asp-controller="Reservation">Reservations</a></li>
			<li class="active">Add Reservation</li>
		</ul>

		<ul class="breadcrumb-elements">
			<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-gear position-left"></i>
					Settings
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
					<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
					<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="content">
    <div class="panel">
		<div class="panel-heading">
			<div class="text-center">
                <h4>Add Booking</h4>
			</div>
			
		</div>
        <div class="panel-body">
				<div class="tabbable tab-content-bordered">
					<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
					<li class="active"><a href="#tab1" data-toggle="tab" id="tab1-link">Book a Room</a></li>
					<li class="disabled"><a href="#tab2" id="tab2-link">Manage Guests</a></li>
						<li class="disabled"><a href="#tab3" id="tab3-link">Confirm</a></li>
					</ul>
				</div>


            <div class="tab-content">
                
                <div class="tab-pane active has-padding" id="tab1">
					@await Html.PartialAsync("_BookRoomPartial")
                </div>

                <div class="tab-pane  has-padding" id="tab2">
						<div id="guestTab">
						@await Html.PartialAsync("_ManageGuestsPartial")
                        </div>
                    </div>

				<div class="tab-pane has-padding" id="tab3">
					@await Html.PartialAsync("_ConfirmReservationPartial")
				</div>

            </div>

            <div class="text-center">
                <button class="btn btn-default" id="prevBtn"><i class="icon-arrow-left13 position-left"></i> Back</button>
                <button class="btn bg-teal-400" id="nextBtn">Next <i class="icon-arrow-right14 position-right"></i> </button>
            </div>
        </div>         
	</div>	
</div>


@section Scripts{


 	<script>
		let currentTab = 2;

		function showTab(index) {
			// Hide all tab content
			$(".tab-pane").removeClass("show active");

			// Show current tab content
			$(`#tab${index}`).addClass("show active");

			// Tab headers
			$(".nav-tabs li").removeClass("active").addClass("disabled");
			$(`#tab${index}-link`).parent("li").removeClass("disabled").addClass("active");

			// Show/hide navigation buttons
			$("#prevBtn").toggle(index > 1);
			$("#nextBtn").html(index === 3 ? "Submit" : `Next <i class="icon-arrow-right14 position-right"></i>`);

			// Load tab content dynamically
			if (index === 2 && $("#guestTab").is(':empty')) {
				$("#guestTab").load("/Guest/LoadGuestForm", function () {
					initializeSelect2(); // Re-initialize Select2 after loading guest form
				});
			}
			if (index === 3) {
				$("#confirmTab").load("/Reservation/LoadConfirmForm");
			}
		}

		function goNext() {
			if (currentTab === 1) {
				$("#bookRoomForm").submit();
			}
			else if (currentTab === 2) {
				$.ajax({
					url: '/Guest/AddGuestsToReservation',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(reservationGuestList),
					success: function (response) {
						if (response.success) {
							toastr.success(response.message);
							$(document).trigger("guestFormSuccess");
						} else {
							Swal.fire("Error", response.message, "error");
						}
					},
					error: function () {
						Swal.fire("Error", "Failed to save guests. Please try again.", "error");
					}
				});
			}


			else if (currentTab === 3) {
				const data = {
					Comment: $('#reservationComment').val(),
					IsConfirmed: $('#isConfirmed').is(':checked'),
					IsPending: $('#isPending').is(':checked'),
					IsStarted: $('#isStarted').is(':checked'),
					IsCheckedIn: $('#isCheckedIn').is(':checked'),
					IsCheckedOut: $('#isCheckedOut').is(':checked'),
					IsClosed: $('#isClosed').is(':checked'),
					IsCancelled: $('#isCancelled').is(':checked'),
					CancellationReason: $('#cancellationReason').val()
				};

				$.ajax({
					type: "POST",
					url: "/Reservation/SubmitReservation",
					data: JSON.stringify(data),
					contentType: "application/json",
					success: function (response) {
						if (response.success) {
							Swal.fire("Success!", response.message, "success")
								.then(() => window.location.href = "/Reservation/Index");
						} else {
							Swal.fire("Error", response.message, "error");
						}
					},
					error: function () {
						Swal.fire("Error", "Failed to submit reservation.", "error");
					}
				});
			}

		}

		function goPrev() {
			if (currentTab > 1) {
				currentTab--;
				showTab(currentTab);
			}
		}

		$(document).ready(function () {
			showTab(currentTab);

			$("#nextBtn").click(goNext);
			$("#prevBtn").click(goPrev);

			$(document).on("roomBookingSuccess", function () {
				currentTab++;
				showTab(currentTab);
			});

			$(document).on("guestFormSuccess", function () {
				currentTab++;
				showTab(currentTab);
			});

			// Prevent clicking on disabled tabs
			$(".nav-tabs a").on("click", function (e) {
				if ($(this).parent("li").hasClass("disabled")) {
					e.preventDefault();
					return false;
				}
			});
		});
	</script>
 


	@await Html.PartialAsync("_ValidationScriptsPartial")

}