@model AddRoomDTO
@{
	TempData["Title"] = "Add Room";
	int BranchId = ViewBag.BranchId;
}

<div class="page-header page-header-default">
	<div class="page-header-content">
		<div class="page-title">
			<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Add Room</span></h4>
		</div>

		<div class="heading-elements">
			<div class="heading-btn-group">
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
			</div>
		</div>
	</div>

	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<li><a asp-action="Index" asp-controller="Home"><i class="icon-home2 position-left"></i> Home</a></li>
			<li><a asp-action="Index" asp-controller="Room">Rooms</a></li>
			<li class="active">Add Room</li>
		</ul>

		<ul class="breadcrumb-elements">
			<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-gear position-left"></i>
					Settings
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
					<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
					<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>


 <div class="content">
	 <div class="row">
        <form asp-action="AddRoom" asp-controller="Room" method="post">
            <input type="hidden" asp-for="BranchId" value="@BranchId" />
			<div class="col-md-12">
				<div class="panel panel-flat border-left-md border-left-teal">
					<div class="panel-heading">
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class=""></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body">


						<fieldset class="step">

							<div class="row">
								<div class="col-md-12">
									<legend class="text-semibold"> Room Fileds</legend>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" asp-for="AddManyRooms" id="singleRoomRadio" value="false" checked="checked">
											Single Room
										</label>

										<label class="radio-inline">
											<input type="radio" asp-for="AddManyRooms" id="multipleRoomRadio" value="true">
											Multiple Rooms
										</label>
									</div>
									@* <div class="form-group">
										<div class="radio">
											<label>
												<input type="radio" asp-for="AddManyRooms" id="singleRoomRadio" value="false" checked="checked">
												Single Room
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" asp-for="AddManyRooms" id="multipleRoomRadio" value="true">
												Multiple Rooms
											</label>
										</div>
										
									</div> *@
								</div>
							</div>

							<div class="row">
                                <div id="singleRoomDiv" class="col-md-6">
                                    <div class="form-group">
                                        <label>Room number <span class="text-danger">*</span></label>
										<input asp-for="RoomNumber" id="RoomNumber" class="form-control" placeholder="Room Number" required>
                                        <span asp-validation-for="RoomNumber" class="text-danger validation-error-label"></span>
                                    </div>
                                </div>

								<div id="manyRoomsDiv" class="col-md-6" style="display: none;">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label>Room Number Text</label>
												<input asp-for="RoomNumberText" class="form-control" placeholder="e.g. A">
												<span asp-validation-for="RoomNumberText" class="text-danger validation-error-label"></span>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>From</label>
												<input asp-for="RoomNumberFrom" min="1" type="number" class="form-control" placeholder="1">
												<span asp-validation-for="RoomNumberFrom" class="text-danger validation-error-label"></span>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>To</label>
												<input asp-for="RoomNumberTo" max="100" type="number" class="form-control" placeholder="10">
												<span asp-validation-for="RoomNumberTo" class="text-danger validation-error-label"></span>
											</div>
										</div>
									</div>
								</div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Floor<span class="text-danger">*</span></label>
										<select asp-for="FloorId" id="floorSelect" required data-placeholder="Choose Floor"
												class="form-control select"
												data-selected="@Model?.FloorId">
											<option value=""></option>
										</select>
                                        <span asp-validation-for="FloorId" class="text-danger validation-error-label"></span>
                                    </div>
                                </div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Room Status<span class="text-danger">*</span></label>
										<select asp-for="RoomStatusId" id="statusSelect" required data-placeholder="Choose Room Status"
												class="form-control select"
												data-selected="@Model?.RoomStatusId">
											<option value=""></option>
										</select>
										<span asp-validation-for="RoomStatusId" class="text-danger validation-error-label"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Room Type<span class="text-danger">*</span></label>
										@* <select asp-for="RoomTypeId" id="roomTypeSelect" name="RoomTypeId" class="form-control select" required data-placeholder="Choose Room Type">
											<option value=""></option>
										</select> *@


										<select asp-for="RoomTypeId" id="roomTypeSelect" class="form-control select" required data-placeholder="Choose Room Type"
												data-selected="@Model?.RoomTypeId">
											<option value=""></option>
										</select>
										<span asp-validation-for="RoomTypeId" class="text-danger validation-error-label"></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>
											Max Adults<span class="text-danger">*</span>
											<a data-popup="popover" data-content="Max num of adults in the room" data-trigger="hover">
												<i class="icon-info22"></i>
											</a>
										</label>
										<input asp-for="MaxNumOfAdults" class="form-control" id="maxNumOfAdults" placeholder="Max Adults">
										<span class="text-danger validation-error-label" asp-validation-for="MaxNumOfAdults"></span>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>
											Max Childrens<span class="text-danger">*</span>

											<a  data-popup="popover" data-content="Max num of childrens in the room" data-trigger="hover">
                                                <i class="icon-info22"></i>
											</a>
										</label>
										<input asp-for="MaxNumOfChildrens" class="form-control" id="maxNumOfChildren" placeholder="Max Childrens" />
										<span class="text-danger validation-error-label" asp-validation-for="MaxNumOfChildrens"></span>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Price Per Night<span class="text-danger">*</span></label>
										<input asp-for="PricePerNight" class="form-control" id="roomPrice" placeholder="Price per Night">
										<span class="text-danger validation-error-label" asp-validation-for="PricePerNight"></span>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<label>Description</label>
									<textarea asp-for="Description" class="form-control" placeholder="Room Description"></textarea>
									<span class="text-danger validation-error-label" asp-validation-for="Description"></span>
								</div>

							</div>

							<br />
							<br />

							<div class="row">
								<div class="col-md-12">
									<legend class="text-semibold">Advanced Room Setup</legend>
								</div>

								<div class="col-md-12">
									<div class="panel panel-flat">
										<div class="panel-heading">
											<h6 class="panel-title">Setup</h6>
										</div>
										<div class="panel-body">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group ">
														<div class="checkbox">
															<label class="checkbox-inline checkbox-left checkbox-switchery switchery-sm">
																<input type="checkbox" asp-for="IsActive" class="switchery" checked>
																Is Active
															</label>
														</div>
														<div class="checkbox">
															<label class="checkbox-inline checkbox-left checkbox-switchery switchery-sm">
																<input type="checkbox" asp-for="IsAffectedByRoomType" class="switchery" checked>
																Is Affected by Room Type
																<a data-popup="popover"
																   data-content="When checked, this room’s settings follow its room type.Uncheck to manage independently."
																   data-trigger="hover">
																	<i class="icon-info22"></i>
																</a>
															</label>

														</div>

													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="panel panel-flat">
										<div class="panel-heading">
											<h6 class="panel-title">Options</h6>
										</div>
										<div class="panel-body">
											<p>Check the options that the room has</p>
											<div class="form-group">


												@foreach (var item in ViewBag.Options)
												{
													<div class="col-md-4">
														<div class="checkbox">
															<label class="checkbox-inline checkbox-left">
																<input type="checkbox" name="SelectedOptions" value="@item.Id" class="styled">
																@item.Name
															</label>
														</div>
													</div>
												}
											</div>
										</div>
									</div>
								</div>
							</div>

						</fieldset>

					</div>

				</div>
			</div>
		
			<div class="text-center">
            <a class="btn btn-default btn-lg" asp-action="Index" asp-controller="Room"> Cancel</a>
            <button class="btn bg-teal-400 btn-lg btn-ladda btn-ladda-spinner ladda-button" data-spinner-color="#fff" data-style="radius" type="submit"><i class="icon-plus2"></i> Add</button>
        </div>
        </form>
	</div> 
</div>





@section Scripts {

    @if (TempData["Error"] != null)
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '@TempData["Error"]'
            });
        </script>
    }
	<script>
		$(document).ready(function () {
			loadSelect("#roomTypeSelect", "/RoomType/GetRoomTypesJson", "typeName", "id");
			loadSelect("#floorSelect", "/Floor/GetFloorsJson", "number", "id");
			loadSelect("#statusSelect", "/RoomStatus/GetRoomStatusJson", "name", "id");
		});
	</script>

	<script>
		$(document).ready(function () {
			$('#roomTypeSelect').change(function () {
				var roomTypeId = $(this).val();

				if (roomTypeId) {
					// Show loading indicator (optional)
					$('#roomPrice, #maxNumOfAdults, #maxNumOfChildren').val('Loading...');

					$.get('/RoomType/GetRoomTypeData', { roomTypeId: roomTypeId }, function (response) {
						if (response.success) {
							$('#roomPrice').val(response.price);
							$('#maxNumOfAdults').val(response.maxAdults);
							$('#maxNumOfChildren').val(response.maxChildren);
						} else {
							alert(response.message);
							$('#roomPrice').val('');
							$('#maxNumOfAdults').val('');
							$('#maxNumOfChildren').val('');
						}
					}).fail(function () {
						alert("Error retrieving room type data.");
						$('#roomPrice').val('');
						$('#maxNumOfAdults').val('');
						$('#maxNumOfChildren').val('');
					});
				} else {
					$('#roomPrice').val('');
					$('#maxNumOfAdults').val('');
					$('#maxNumOfChildren').val('');
				}
			});
		});
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const singleRoomRadio = document.getElementById("singleRoomRadio");
			const multipleRoomRadio = document.getElementById("multipleRoomRadio");
			const singleRoomDiv = document.getElementById("singleRoomDiv");
			const manyRoomsDiv = document.getElementById("manyRoomsDiv");
			const roomNumberInput = document.getElementById("RoomNumber");

			function toggleRoomUI() {
				if (multipleRoomRadio.checked) {
					singleRoomDiv.style.display = "none";
					manyRoomsDiv.style.display = "flex";
					roomNumberInput.removeAttribute("required");
				} else {
					singleRoomDiv.style.display = "block";
					manyRoomsDiv.style.display = "none";
					roomNumberInput.setAttribute("required", "required");
				}
			}

			// Initialize on load
			toggleRoomUI();

			// Listen for changes
			singleRoomRadio.addEventListener("change", toggleRoomUI);
			multipleRoomRadio.addEventListener("change", toggleRoomUI);
		});
	</script>


	@await Html.PartialAsync("_ValidationScriptsPartial")
}